---
// imports
import { linksApi } from "../../lib/data/DataLinks";

interface Props {
  poster: string;
  titleCard: string;
}

const { poster, titleCard } = Astro.props;

const srcImage = `${linksApi.images}${poster}`;
---

<article class="card-container">
  <a href="#" class="a-card-movie">
    <figure class="figure-card">
      <img src={srcImage} alt=`Cartel de ${titleCard}` />
    </figure>
    <h3 class="title-card">{titleCard}</h3>
    <figure class="figure-play">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        style="width: 100%; height: 100%;"
        ><path
          d="M20.492 7.969 10.954.975A5 5 0 0 0 3 5.005V19a4.994 4.994 0 0 0 7.954 4.03l9.538-6.994a5 5 0 0 0 0-8.062Z"
        ></path></svg
      >
    </figure>
  </a>
</article>
